.*.sw?
/*.geany
/.idea
/.tox
/.vscode
/.envrc

*.pyc
*.pyo

/.coverage

/build
/dist
/docs/_build
/MANIFEST
/playground

/docs/_templates/layout.html

*.pyc
*.pyo

*.egg-info

/requirements.txt
/uv.lock
