language: python
python:
- "2.6"
- "2.7"
- "3.3"
- "3.4"
env:
- DJANGO="Django>=1.4,<1.5"
- DJANGO="Django>=1.5,<1.6"
- DJANGO="Django>=1.6,<1.7"
- DJANGO="Django>=1.7,<1.8"
matrix:
  exclude:
    - python: "2.6"
      env: DJANGO="Django>=1.7,<1.8"
    - python: "3.3"
      env: DJANGO="Django>=1.4,<1.5"
    - python: "3.4"
      env: DJANGO="Django>=1.4,<1.5"
install:
- pip install $DJANGO
script:
- python setup.py test
